@import "../../variables.scss";
.navbar {
  margin-right: 3%;
  background: none;
}
.nav-link {
  padding: 5px 12px;
  font-size: 1.4em;
}
.nav-link.active {
  border-bottom: 2px solid color(my-blue);
}

#navbarNav {
  a {
    color: black;
    font-weight: bold;
  }
  a:hover {
    border-bottom: 2px solid color(my-blue);
  }
}
