<nav
  class="navbar fixed-top navbar-expand-lg navbar-light bg-transparent flex-row-reverse"
>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="#home">HOME </a></li>
      <li class="nav-item"><a class="nav-link" href="#about">ABOUT</a></li>
      <li class="nav-item"><a class="nav-link" href="#skill">SKILLS</a></li>
      <li class="nav-item">
        <a class="nav-link" href="#interest">INTERESTS</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#contact">CONTACT</a></li>
    </ul>
  </div>
</nav>
