<section id="about">
  <div class="container">
    <div class="heading"><h2>About Me</h2></div>
    <div class="about-content">
      <div class="profile-pic">
        <img
          src="assets/img/profile-picture.jpeg"
          class="rounded-circle img-fluid"
        />
      </div>
      <div class=" about-detail">
        <p>
          Hello! My name is Woo Sang (Derek) Kim. I am a Korean Kiwi based in
          Auckland, New Zealand. I am also a University of Auckland graduate
          with a Bachelor of Science degree in Computer Science and Information
          System. I aspire to be a software developer because a lot of our
          modern problems can be solved through technology. It is exciting to
          think that the work I will do in the future as a software developer
          will positively impact people by simplifying their lifestyle and thus
          increasing their efficiency.
        </p>

        <p>
          In my spare time, I like to relieve stress by hanging out with
          friends, hiking and playing pool. Photography is another small hobby I
          have. I enjoy taking photos with film cameras because of the
          anticipation of how the photos will come out. And, I am quite
          passionate about technology in general. I like to tinker with new
          technologies and build up on my knowledge for future use.
        </p>
      </div>
    </div>
  </div>
</section>
