@import "../../variables.scss";
#about {
  display: flex;
  flex-direction: column;
  background-color: map-get($map: $colors, $key: primary);
}
.about-heading {
  display: flex;
  justify-content: center;
}
.about-content {
  display: flex;
  flex-direction: row;
}

.profile-pic {
  margin-right: 7%;
}
img {
  width: 250px;
  height: 250px; //To be fixed
}

.about-detail {
  width: 67%;
}
