@import "../../variables.scss";
#about {
  display: flex;
  flex-direction: column;
  background-color: color(primary);
}
.about-heading {
  display: flex;
  justify-content: center;
}
.about-content {
  display: flex;
  flex-direction: row;
  @include mobile {
    flex-direction: column;
    justify-content: center;
  }
}
.about-intro {
  font-size: 1.1em;
}
.profile-pic {
  margin-right: 7%;
  @include mobile {
    margin-right: 0%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }
}
img {
  width: 250px;
  height: 250px; //To be fixed
}

.about-detail {
  width: 67%;
  font-size: 1.1em;
  font-family: Tahoma, Geneva, sans-serif;
  @include mobile {
    width: 100%;
  }
}

.greeting {
  display: block;
  font-size: 1.2em;
}
