<section id="about">
  <div class="container">
    <div class="heading"><h2>About</h2></div>
    <div class="about-content">
      <div class="profile-pic">
        <img
          src="assets/img/profile-picture.jpeg"
          class="rounded-circle img-fluid"
        />
      </div>
      <div class=" about-detail">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac
        facilisis nunc. Aliquam convallis faucibus risus, sit amet condimentum
        nunc iaculis sed. Suspendisse condimentum imperdiet posuere. Cras et
        lacus eget metus congue maximus. Vestibulum dignissim sem ex, ac
        ultricies ligula aliquet id. Suspendisse sit amet felis dolor. Mauris
        ullamcorper lorem eget mi finibus sagittis. Suspendisse interdum nulla
        enim, quis tincidunt nunc auctor sed. Aliquam rutrum posuere leo, eu
        iaculis libero tempor et. Fusce nec turpis et eros elementum varius eu
        sed dui. Etiam feugiat justo mi, gravida vestibulum metus malesuada ac.
        In dolor ex, mattis hendrerit ligula vitae, pretium euismod lorem.
        Suspendisse tristique diam a quam finibus finibus. In scelerisque sapien
        leo, a imperdiet sapien dignissim venenatis. Morbi faucibus faucibus
        dolor non lacinia. In nisi velit, laoreet nec viverra vitae, tempor in
        justo.
      </div>
    </div>
  </div>
</section>
