.about {
  display: flex;
  flex-direction: column;
}
.about-heading {
  display: flex;
  justify-content: center;
}
.about-content {
  display: flex;
  flex-direction: row;
}

.profile-pic {
  width: 33%;
}
img {
  width: 300px;
  height: 300px; //To be fixed
}

.about-detail {
  width: 67%;
}
