@import "../../variables.scss";
h2 {
  font-weight: 500;
}

#contact {
  background-color: color(secondary);
}

.contact-heading {
  font-family: Impact, Charcoal, sans-serif;
  margin-bottom: 1%;
}
.contact-paragraph {
  font-family: Tahoma, Geneva, sans-serif;
}
