@import "../../variables.scss";

* {
  box-sizing: border-box;
}

#skill {
  background-color: color(secondary);
}

.bar-container {
  width: 100%;
}

.skills {
  text-align: right;
  padding: 10px;
  color: white;
}

.html-css {
  width: 60%;
  background-color: #4caf50;
}
.js {
  width: 40%;
  background-color: #2196f3;
}
.java {
  width: 60%;
  background-color: #f44336;
}
.csharp {
  width: 70%;
  background-color: rgb(218, 218, 95);
}
.python {
  width: 70%;
  background-color: #16d9fc;
}
.git {
  width: 30%;
  background-color: #808080;
}
