@import "../../variables.scss";

* {
  box-sizing: border-box;
}

#skill {
  background-color: color(secondary);
}

.bar-container {
  width: 100%;
  margin-bottom: 1%;
}

.skills {
  text-align: right;
  padding: 10px;
  color: white;
  p {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 1em;
    margin-top: 3%;
  }
}
.skill-name {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.1em;
  margin-bottom: 0;
}

.html-css {
  width: 70%;
  background-color: #76a090;
}
.js {
  width: 65%;
  background-color: #5b7fa0;
}
.java {
  width: 60%;
  background-color: #a3807d;
}
.csharp {
  width: 80%;
  background-color: rgb(201, 186, 123);
}
.python {
  width: 70%;
  background-color: #8a7799;
}
.git {
  width: 30%;
  background-color: #928f8f;
}
