<section id="skill">
  <div class="container">
    <div class="heading"><h2>Skills</h2></div>
    <p>HTML/CSS</p>
    <div class="bar-container">
      <div class="skills html-css">60%</div>
    </div>

    <p>Javascript</p>
    <div class="bar-container">
      <div class="skills js">40%</div>
    </div>

    <p>Java</p>
    <div class="bar-container">
      <div class="skills java">60%</div>
    </div>

    <p>C#</p>
    <div class="bar-container">
      <div class="skills csharp">70%</div>
    </div>

    <p>Python</p>
    <div class="bar-container">
      <div class="skills python">70%</div>
    </div>

    <p>Git</p>
    <div class="bar-container">
      <div class="skills git">30%</div>
    </div>
  </div>
</section>
