/* Make sure that padding behaves as expected */
* {
  box-sizing: border-box;
}

/* Container for skill bars */
.bar-container {
  width: 100%; /* Full width */
}

.skills {
  text-align: right; /* Right-align text */
  padding: 10px; /* Add some padding */
  color: white; /* White text color */
}

.html {
  width: 90%;
  background-color: #4caf50;
} /* Green */
.css {
  width: 80%;
  background-color: #2196f3;
} /* Blue */
.js {
  width: 65%;
  background-color: #f44336;
} /* Red */
.php {
  width: 60%;
  background-color: #808080;
} /* Dark Grey */
