<section id="skill">
  <div class="container">
    <div class="heading"><h2>Skills</h2></div>
    <p class="skill-name">HTML/CSS</p>
    <div class="bar-container">
      <div class="skills html-css"><p>70%</p></div>
    </div>

    <p class="skill-name">Javascript</p>
    <div class="bar-container">
      <div class="skills js"><p>65%</p></div>
    </div>

    <p class="skill-name">Java</p>
    <div class="bar-container">
      <div class="skills java"><p>60%</p></div>
    </div>

    <p class="skill-name">C#</p>
    <div class="bar-container">
      <div class="skills csharp"><p>80%</p></div>
    </div>

    <p class="skill-name">Python</p>
    <div class="bar-container">
      <div class="skills python"><p>70%</p></div>
    </div>

    <p class="skill-name">Git</p>
    <div class="bar-container">
      <div class="skills git"><p>30%</p></div>
    </div>
  </div>
</section>
