@import "../variables.scss";
html body {
  height: 100%;
}
footer {
  display: flex;
  background-color: black;
  color: white;
  min-height: 50px;
  height: 100%;
}
.footer-contact {
  display: flex;
  width: 30%;
  padding: 0 5vw 0 5vw;
  a {
    font-size: 1.8em;
    color: white;
    margin: 5%;
  }
  a:hover {
    color: map-get($map: $colors, $key: my-blue);
  }
}
