<app-header> </app-header>
<div class="main-content">
  <app-home></app-home>
  <app-about></app-about>
  <app-interest></app-interest>
  <app-contact></app-contact>
</div>
<footer>
  <div class="footer-contact">
    <a href="https://www.facebook.com/derek.kim.31"
      ><i class="fab fa-facebook-f"></i
    ></a>
    <a href="https://www.instagram.com/wsderekkim/"
      ><i class="fab fa-instagram"></i
    ></a>
    <a href="https://www.linkedin.com/in/woosang-derek-kim"
      ><i class="fab fa-linkedin-in"></i
    ></a>
  </div>
</footer>
