/* You can add global styles to this file, and also import other style files */
@import "~bootswatch/dist/yeti/_variables.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootswatch/dist/yeti/_bootswatch.scss";
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
body {
  position: relative;
}
.container {
  padding: 5vh 3vw 5vh 3vw;
}
.heading {
  display: flex;
  justify-content: center;
  font-family: Impact, Charcoal, sans-serif;
}
.heading h2 {
  font-weight: 500;
  margin-bottom: 2%;
}
