<section id="home">
  <div class="bg-img">
    <div class="home-content">
      <div>
        <span class="hello-message">Hello, I am</span>
        <span class="name">
          Woo Sang (Derek) Kim
        </span>
        <span class="title">
          Aspiring/Graduate Software Developer
        </span>
        <div class="contact">
          <a href="https://www.facebook.com/derek.kim.31"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a href="https://www.instagram.com/wsderekkim/"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="https://www.linkedin.com/in/woosang-derek-kim"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
