@import "../../variables.scss";
.bg-img {
  background-image: url("../../assets/img/home-bg.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.home-content {
  display: flex;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hello-message {
  font-size: 1.5em;
}
.name {
  display: block;
  margin-bottom: 1%;
  font-size: 3em;
  font-weight: bold;
  color: map-get($colors, text-gray);
}
.title {
  font-size: 1.5em;
  color: map-get($colors, text-gray);
  border-top: solid rgb(207, 207, 207);
  border-bottom: solid rgb(207, 207, 207);
  border-width: 1px;
}
p,
span {
  color: white;
}
.contact {
  margin-top: 3%;
  a {
    color: white;
    font-size: 2em;
    margin-right: 30px;
  }
  a:hover {
    color: map-get($colors, my-blue);
  }
}
