<section class="home">
  <div class="bg-img">
    <div class="home-content">
      <div>
        <p class="name">
          Woo Sang (Derek) Kim
        </p>
      </div>
      <div>
        <p class="title">
          Aspiring/Graduate Software Developing
        </p>
      </div>
      <div class="contact">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
</section>
