<section class="home">
  <div class="bg-img">
    <div class="home-content">
      <div>
        <span class="hello-message">Hello, I am</span>
        <p class="name">
          Woo Sang (Derek) Kim
        </p>
      </div>
      <div>
        <p class="title">
          Aspiring/Graduate Software Developer
        </p>
      </div>
      <div class="contact">
        <a href="https://www.facebook.com/derek.kim.31"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a href="https://www.instagram.com/wsderekkim/"
          ><i class="fab fa-instagram"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/woosang-derek-kim
        "
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </div>
    </div>
  </div>
</section>
